[Desktop Entry]
Name=WmPower
Comment=APM/ACPI Monitor
Comment[pl]=Monitor ACPI i APM
Exec=wmpower
Terminal=false
Type=Application
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
